-- Add user_id column to salespersons table to link with profiles
ALTER TABLE public.salespersons 
ADD COLUMN user_id UUID REFERENCES public.profiles(id) ON DELETE SET NULL;

-- Add index for performance
CREATE INDEX idx_salespersons_user_id ON public.salespersons(user_id);

-- Update RLS policies for role-based access control

-- Profiles: Users can view all profiles, update own profile, admins can manage all
DROP POLICY IF EXISTS "Users can view all profiles" ON public.profiles;
DROP POLICY IF EXISTS "Users can update own profile" ON public.profiles;
DROP POLICY IF EXISTS "Admins can manage all profiles" ON public.profiles;

CREATE POLICY "Users can view all profiles" ON public.profiles FOR SELECT USING (auth.uid() IS NOT NULL);
CREATE POLICY "Users can update own profile" ON public.profiles FOR UPDATE USING (auth.uid() = id);
CREATE POLICY "Admins and managers can manage profiles" ON public.profiles FOR ALL USING (
  EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role IN ('admin', 'manager'))
);

-- Admin settings: Only admins can access
DROP POLICY IF EXISTS "Admins can manage admin settings" ON public.admin_settings;
CREATE POLICY "Admins can manage admin settings" ON public.admin_settings FOR ALL USING (
  EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role = 'admin')
);

-- Cities: All users can view, admins and managers can modify
DROP POLICY IF EXISTS "All users can view cities" ON public.cities;
DROP POLICY IF EXISTS "Admins can manage cities" ON public.cities;

CREATE POLICY "All users can view cities" ON public.cities FOR SELECT USING (auth.uid() IS NOT NULL);
CREATE POLICY "Admins and managers can manage cities" ON public.cities FOR ALL USING (
  EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role IN ('admin', 'manager'))
);

-- Retailers: Role-based access with salesperson filtering
DROP POLICY IF EXISTS "All users can view retailers" ON public.retailers;
DROP POLICY IF EXISTS "Managers and admins can manage retailers" ON public.retailers;

-- Salespersons can only see their assigned retailers
CREATE POLICY "Salespersons can view assigned retailers" ON public.retailers FOR SELECT USING (
  EXISTS (
    SELECT 1 FROM public.profiles p 
    JOIN public.salespersons s ON s.user_id = p.id 
    WHERE p.id = auth.uid() 
    AND p.role = 'salesperson' 
    AND s.name = retailers.salesperson
  )
);

-- Managers and admins can see all retailers
CREATE POLICY "Managers and admins can view all retailers" ON public.retailers FOR SELECT USING (
  EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role IN ('admin', 'manager'))
);

-- Managers and admins can manage retailers
CREATE POLICY "Managers and admins can manage retailers" ON public.retailers FOR ALL USING (
  EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role IN ('admin', 'manager'))
);

-- Products: All users can view, managers and admins can manage
DROP POLICY IF EXISTS "All users can view products" ON public.products;
DROP POLICY IF EXISTS "Managers and admins can manage products" ON public.products;

CREATE POLICY "All users can view products" ON public.products FOR SELECT USING (auth.uid() IS NOT NULL);
CREATE POLICY "Managers and admins can manage products" ON public.products FOR ALL USING (
  EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role IN ('admin', 'manager'))
);

-- Retailer products: Role-based access
DROP POLICY IF EXISTS "All users can view retailer products" ON public.retailer_products;
DROP POLICY IF EXISTS "Managers and admins can manage retailer products" ON public.retailer_products;

-- Salespersons can only see products assigned to their retailers
CREATE POLICY "Salespersons can view assigned retailer products" ON public.retailer_products FOR SELECT USING (
  EXISTS (
    SELECT 1 FROM public.profiles p 
    JOIN public.salespersons s ON s.user_id = p.id 
    JOIN public.retailers r ON r.salesperson = s.name
    WHERE p.id = auth.uid() 
    AND p.role = 'salesperson' 
    AND r.id = retailer_products.retailer_id
  )
);

-- Managers and admins can see all retailer products
CREATE POLICY "Managers and admins can view all retailer products" ON public.retailer_products FOR SELECT USING (
  EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role IN ('admin', 'manager'))
);

-- Managers and admins can manage retailer products
CREATE POLICY "Managers and admins can manage retailer products" ON public.retailer_products FOR ALL USING (
  EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role IN ('admin', 'manager'))
);

-- Orders: Role-based access with salesperson filtering
DROP POLICY IF EXISTS "All users can view orders" ON public.orders;
DROP POLICY IF EXISTS "Managers and admins can manage orders" ON public.orders;

-- Salespersons can only see their assigned orders
CREATE POLICY "Salespersons can view assigned orders" ON public.orders FOR SELECT USING (
  EXISTS (
    SELECT 1 FROM public.profiles p 
    JOIN public.salespersons s ON s.user_id = p.id 
    WHERE p.id = auth.uid() 
    AND p.role = 'salesperson' 
    AND s.name = orders.salesperson
  )
);

-- Managers and admins can see all orders
CREATE POLICY "Managers and admins can view all orders" ON public.orders FOR SELECT USING (
  EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role IN ('admin', 'manager'))
);

-- Managers and admins can manage orders
CREATE POLICY "Managers and admins can manage orders" ON public.orders FOR ALL USING (
  EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role IN ('admin', 'manager'))
);

-- Salespersons: Role-based access
DROP POLICY IF EXISTS "All users can view salespersons" ON public.salespersons;
DROP POLICY IF EXISTS "Admins can manage salespersons" ON public.salespersons;

-- Salespersons can view their own record
CREATE POLICY "Salespersons can view own record" ON public.salespersons FOR SELECT USING (
  EXISTS (
    SELECT 1 FROM public.profiles p 
    WHERE p.id = auth.uid() 
    AND p.role = 'salesperson' 
    AND salespersons.user_id = p.id
  )
);

-- Managers and admins can view all salespersons
CREATE POLICY "Managers and admins can view all salespersons" ON public.salespersons FOR SELECT USING (
  EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role IN ('admin', 'manager'))
);

-- Managers and admins can manage salespersons
CREATE POLICY "Managers and admins can manage salespersons" ON public.salespersons FOR ALL USING (
  EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role IN ('admin', 'manager'))
);

-- Add function to get current user's salesperson name
CREATE OR REPLACE FUNCTION get_current_user_salesperson_name()
RETURNS TEXT AS $$
BEGIN
  RETURN (
    SELECT s.name 
    FROM public.salespersons s 
    JOIN public.profiles p ON p.id = s.user_id 
    WHERE p.id = auth.uid() 
    AND p.role = 'salesperson'
    LIMIT 1
  );
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Add function to check if user is salesperson
CREATE OR REPLACE FUNCTION is_salesperson()
RETURNS BOOLEAN AS $$
BEGIN
  RETURN EXISTS (
    SELECT 1 FROM public.profiles 
    WHERE id = auth.uid() 
    AND role = 'salesperson'
  );
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Add function to check if user is manager or admin
CREATE OR REPLACE FUNCTION is_manager_or_admin()
RETURNS BOOLEAN AS $$
BEGIN
  RETURN EXISTS (
    SELECT 1 FROM public.profiles 
    WHERE id = auth.uid() 
    AND role IN ('admin', 'manager')
  );
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;
